/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

*{
	box-sizing: border-box;
}
:root{
	--lato:"Lato", sans-serif;
	--bg-color:#000015;
	--color: #fff;
	--font-normal:300;
	--bg-nav:#010204;
}

.bg-nav{
	background-color: var(--bg-nav);
	opacity: 0.7;
}
html,
body{
  background-color: var(--bg-color) !important;
  color:var(--color);
  font-family:var(--Roboto);
  font-weight: var(--font-normal);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/*----------HEADER---------------*/
header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/bg-header-hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.navbar-nav .nav-link{
	color:var(--color);
	font-weight: var(--font-normal);
	margin-right: 50px;
	padding: 10px 0 !important;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
	text-align: center;
}
.navbar-nav .nav-link:hover{
	border-bottom: 2px solid #fff;
	padding: 0px;
}
.navbar-toggler{
	border:none !important;
}

.box-avata{
	margin-right: 30px;
}
.box-info{
	color: #fff;
	font-weight: var(--font-normal);
}
.box-info h1{
	font-weight:400;
}
.box-info span{
	font-size:1.25rem;
	padding-bottom: 10px;
}
.fas{
	font-size: 1rem;
	margin-right: 10px;
}
.fab{
	font-size: 2rem;
	margin-right: 10px;
}
.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin,
.fa-skype{
	transition: color 0.2s;
}
.fa-facebook-square:hover{
	color: #3b5998;
	cursor: pointer;
}
.fa-twitter-square:hover{
	color: #00aced;
	cursor: pointer;
}
.fa-linkedin:hover{
	color:#2867B2;
	cursor: pointer;
}
.fa-skype:hover{
	color:#00AFF0;
	cursor: pointer;
}

/*----------SECTION ABOUT US---------------*/
#about-me{
	padding: 50px 0;
	color: #fff;
	font-family:var(--Roboto);
	font-weight: var(--font-normal);
}
.photo-about{
	max-width:457px;
	max-height:548px;
	margin-right:30px;
	margin-bottom:30px;
}
.info-about{
	max-width:457px;
	max-height:548px;
}
/*----------SECTION MY SKILL---------------*/
#my-skill{
	padding: 50px 0;
	color: #fff;
	font-family:var(--Roboto);
	font-weight: var(--font-normal);
	background-image: url(img/bg-skills.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.cicle-skill{
	width:100px;
	height:100px;
	border-radius:50%;
	background-color:#fff;
	border: 5px solid #1abc9c;
	position:relative;
	margin-bottom:10px;
}
.cicle-skill span{
	position:absolute;
	color: #2c3e50;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.progress-bar{
	background-color:#1abc9c !important;
}
.tech-skills p{
	margin-bottom:5px !important;
	margin-top:35px;
}
.progress{
	margin-bottom:30px;
	border-radius:1rem !important;
	height: 1.5rem !important;
}
.tech-skills h2,
.pro-skills h2{
	text-align:center;
	margin-bottom:20px;
}
/*----------SECTION WHAT I DO---------------*/
#my-job{
	font-family:var(--Roboto);
	font-weight: var(--font-normal);
	color:var(--color);
	margin: 70px 0;
	text-align: center;
}
#my-job h2{
	padding: 45px 0;
}
.box-job{
	padding: 	0 10px 30px 10px;
	background-color: #030320;
	border-radius: 10px;
	width:100%;
	height: 300px;
}
.box-job .fas{
	font-size:3rem;
	margin: 30px 0;
	color:#1abc9c;
}
.box-job h3{
	font-size:1.5rem;
	margin-bottom: 30px;
}
.box-job p{
	font-size:1rem;
	line-height: 1.25em;
	margin-bottom: 30px;
}
/*----------SECTION PORTFOLIO---------------*/
#my-portfolio{
	padding:45px 0;
	margin-bottom: 70px;
	background-image: url(img/bg-portfolio.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family:var(--Roboto);
	color:var(--color);
}
#my-portfolio h2{
	margin-bottom: 45px;
	text-align: center;
}
/*----------SECTION CONTACT---------------*/
#my-contact{
	color:var(--color);
	padding: 45px 0;
	text-align: center;
}
.cicle-contact{
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:none;
	border: 5px solid #1abc9c;
	margin-bottom:10px;
	position:relative;
	margin-bottom: 25px;
}
.cicle-contact .fas{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: #2c3e50;
	color:var(--color);
	font-size: 1.75rem;
}
.box-contact{
	padding: 	0 10px 30px 10px;
	background-color: #030320;
	border-radius: 10px;
	width:100%;
	height: 330px;
	padding: 25px 0;
}
.box-contact h3{
	font-size: 2rem;
}
.box-contact p{
	font-size: 1rem;
	font-weight: var(--font-normal);
}
#my-contact .btn-send{
	border-radius:10px;
	background-color:#1abc9c;
	color:var(--color);
	width: 100%;
}
#my-contact .map{
	width:100%;
}
